.tab_bar{
    padding: 3px 10px 10px 10px;
    margin-right: 140px;
    float:right;
    z-index: -1;
    border-width: thin;
    border: 1;
    border-style: solid;
    border-color: #C0C0C0;
    border-radius: 10px;

}

/* I used the button generator at http://css3buttongenerator.com/ for help with this styling */
button {
  border-radius: 1px;
  font-family: Arial;
  color: white;
  font-size: 11px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  opacity: 0.5;
}

#all{
  background-color: #808080;
}

#ue{
  background-color: #F49070;
}

#ef{
  background-color: #9263A6;
}

#es{
  background-color: #9ec665;
}

#other{
  background-color: #699ec8;
}

h2{
  color:#404040;
}

h3{
  font-size: 14px;
  font-weight: bolder;
  color: #808080;
  font-family: Arial;
}

button:hover {
  opacity: 0.9;
  text-decoration: none;
}

.active {
  background: #993399;
  opacity: 1;
}

.content{ color: #808080;
  margin-top: 20px;
  padding-left: 30px;
  font-family: Arial;
  font-size: 14px;
}

.header{
  background: #e6e6e6;
  padding: 5px;
}

.graph-title{
  font-size: 20px;
  font-weight: bold;
}

.graph-subtitle{
  font-size: 16px;
}

.phoneButton{
  background: #999999;
  padding: 10px 20px 10px 20px;
}

.contact{
  background: #999999;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  margin-top: 10px;
}

p {
  font-family: Arial;
  font-size: 12px;
}

.gesture-box{
    width: 300px;
    height: 300px;
    padding: 5px;
    margin: 10px;
    border: 1px solid gray;
    background: #edd9b0;
}

.gesture-box-2{
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border: 1px solid gray;
    background: #ffffff;
}


a.tooltip {outline:none; }
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:60px; margin-left:-160px;
    width:600px;
    height:300px;
    bottom:150px;
    left:300px;
    background:white;
}
a.tooltip:hover span{
    display:inline; position:absolute; repeat-x 0 0;
}

.callout {z-index:20;position:absolute;border:0;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:2px;
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}

.dist-callout{
  background:none;
  color:blue;
  font-size:10px;
  border-style:none;

}

#CS-expand{
  position:absolute;
  bottom:145px;
  left:140px;
}

#eng-expand{
  position:absolute;
  bottom:145px;
  left:305px;
}
